name: Build MagiskM App

on:
    push:
        branches: [ app ]
    pull_request:
    workflow_dispatch:

jobs:
    build-app:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                build_type: [debug, release]

        env:
            GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.parallel=true -Dorg.gradle.caching=true -Dorg.gradle.configuration-cache=true

        steps:
            - name: checkout repo
              uses: actions/checkout@v4

            - name: setup jdk
              uses: actions/setup-java@v4
              with:
                  distribution: temurin
                  java-version: 17
                  cache: gradle

            - name: setup android sdk
              uses: android-actions/setup-android@v3

            - name: grant gradlew permission
              run: chmod +x gradlew

            - name: cache gradle files
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                  restore-keys: |
                      ${{ runner.os }}-gradle-

            - name: build apk
              run: ./gradlew assemble${{ matrix.build_type == 'release' && 'Release' || 'Debug' }}

            - name: upload apk
              uses: actions/upload-artifact@v4
              with:
                  name: ${{ matrix.build_type }}-apk
                  path: app/build/outputs/apk/${{ matrix.build_type }}/*.apk